@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300&display=swap');
#table-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th,
td {
    border-width: 2px;
    border-color: lawngreen;
    border-style: solid;
    padding: 5px;
}